
body{
	color:rgb(0,0,0);
	background-color:rgb(255,255,255);
	font-family:Arial;
	line-height:0.5em;
}


p.contain{
	position:absolute;
	width:800px;
	height:200px;
	top:520px;
	left:100px;
	border:0.5em solid rgb(192,192,192);
}
div.left{
	width:30%;
	background-color:rgb(47,79,79);
	height:1032px;
	overflow:hidden;
	color:rgb(255,255,255);
	padding:60px 20px 20px 20px;
	float:left;
	margin-top:0px;
	line-height:0em;
	
}
p.name{
	font-family:Arial;
	font-size:xx-large;
	margin-bottom:-3px;
}
div.right{
    float:left;
	width:60%;
	height:1111px;
	overflow:hidden;
	background-color:rgb(240,240,240);
	color:rgb(255,255,255);
	padding:0 20px 0 20px;
	color:rgb(0,0,0);
	margin-top:-9px;
	line-height:2em;

}

img{
	width:120px;
	height:120px;
	border-radius:50%;
	
}


	
	